body{
    background-color:lightgrey;
}
.toolbar {
    border: 3px solid rgb(37, 34, 34);
    border-radius: 4px;
    background-color:rgb(185, 206, 212);

    width: 60vw;
    /* trick element center */
    margin: 0 auto;
    /* the children should have
     space for alignment */
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.tool:hover{
    transform:scale(1.1);
}
.tool-img {
    /* img ko change to usko height */
    height: 50px;
}
.can{
    margin: 10px;
    border: 3px solid rgb(37, 34, 34);
    border-radius: 4px;
    background-color:white;
}

.color-container {
    border: 2px solid rgb(68, 64, 64);
    border-radius: 5px;
    height: 50px;
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color-container:hover{
    background-color: lightcyan;
}

.color {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(68, 64, 64);
}
.color:hover{
    transform:scale(1.1);
}
.red {
    background-color:
        lightpink;
}

.blue {
    background-color:
        lightblue;
}

.green {
    background-color:
        lightgreen;
}

/* tool options */
.size-box {
    width: 100px;
    height: 20px;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}

.size {
    background-color: darkslategrey;
    border:1 px solid black;
    border-radius: 50%;
}

.size1 {
    height: 10px;
    width: 10px;
}

.size2 {
    height: 14px;
    width: 14px;
}

.size3 {
    height: 18px;
    width: 18px;
}

.size4 {
    height: 22px;
    width: 22px;
}


/* icons  */
.fas {
    font-size: 2rem;
    
}


/* sticky notes */

/* div -> parent width  */
.navbar {
display: flex;
height: 24px;
justify-content: flex-end;
align-items: center;
background-color: transparent;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.close {
height: 15px;
width: 15px;
background-color: lightcoral;
border-radius: 50%;
margin-right: 5px;
;
}

.minimize {
height: 15px;
width: 15px;
background-color: lightgreen;
border-radius: 50%;
margin-right: 5px;
;
}

.sticky {
width: 175px;
height: 175px;
}

.textarea {
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
height: 145px;
width: 170px;
outline: none;
border: none;
border-top: 2px solid gray;
font-style: italic;
}